<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IBISui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <IBISui.Properties.Settings>
            <setting name="ComPort" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="Timer" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="Liniennummer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Sonderzeichen" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Zieltext" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Haltestelle" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RAW" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HSA" serializeAs="String">
                <value>ds003c</value>
            </setting>
            <setting name="ZA" serializeAs="String">
                <value>ds3aMASctrl</value>
            </setting>
            <setting name="LA" serializeAs="String">
                <value>ds001</value>
            </setting>
            <setting name="HSAlen" serializeAs="String">
                <value>48</value>
            </setting>
            <setting name="Wagennummer" serializeAs="String">
                <value>True</value>
            </setting>
        </IBISui.Properties.Settings>
    </userSettings>
</configuration>
